html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.backgroundimg {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg.png");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-blend-mode: color-burn;
}
.backgroundimg2 {
  /* height: 100vh;
  width: 100vw; */
  background-image: url("/images/bg2.png");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-blend-mode: color-burn;
}
.color {
  background-color: aqua;
}

.cityimg {
  background-color: #00000000;
  background-blend-mode: color-burn;
}

.mincity {
  height: auto;
  width: clamp(50vh, 400vh, 400vh);
}

@font-face {
  font-family: "DeadlyAdvance";
  src: url("/font/Deadly Advance.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "F1";
  src: url("/font/Formula1-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.titlefont {
  font-family: "DeadlyAdvance";
  font-size: clamp(2.5rem, 10vw, 8rem);
}
.titlefont2 {
  font-family: "DeadlyAdvance";
  font-size: clamp(2.5rem, 2vw, 2rem);
}

.gradient {
  width: 30vh;
  height: 8vh;
  background: linear-gradient(135deg, #0097b2, #7ed957);
  border: none;
}
.gradient2 {
  height: calc(100vh - 25rem);

  background: linear-gradient(
    90deg,
    rgba(0, 74, 173, 0.8),
    rgba(203, 108, 230, 0.5)
  );
  border: none;
}
.gradient3 {
  background: linear-gradient(90deg, #8c52ff, #00bf63) !important;
  border: none;
}
.descfont {
  font-family: "F1";
}

.btn.glow-on-hover {
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}

.btn.glow-on-hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;

  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.btn.glow-on-hover:hover:before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.btn.glow-on-hover:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
}

.navbar-nav .nav-link {
  text-decoration: none;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.imgsize {
  width: clamp(1vh, 72vh, 100vh) !important;
  height: 100% !important;
  padding: 0;
}

.imgsize2 {
  width: 100%;
  height: auto;
  max-width: clamp(200px, 72vh, 100%);
}

.nopad {
  padding: 0 !important;
}
.slow-bounce {
  animation-duration: 2s !important;
}
.corner {
  border-radius: 58px !important;
}
.shadow-card {
  box-shadow: 20px 20px 0px #3a2779;
}
.shadow-button {
  box-shadow: 8px 8px 0px #0c4daa;
  color: white;
  justify-content: left;
  text-justify: start;
}
.btn-mod {
  background-color: #2e78e5;
  border: none;
  border-radius: 50px;
  height: auto;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  white-space: normal;
}

.btn-mod:hover {
  background-color: #29e4bc;
  color: white;
}

@media (min-width: 768px) {
  .btn-mod {
    height: 15vh !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 2vh;
    font-size: 5vh;
    padding-left: 5vh;
  }
}
.flying-car {
  animation: hoverEffect 2s infinite ease-in-out;
}

@keyframes hoverEffect {
  0% {
    transform: translateX(0%) translateY(0);
  }
  50% {
    transform: translateX(0%) translateY(-20px);
  }
  100% {
    transform: translateX(0%) translateY(0);
  }
}

.glow-text {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #8c52ff, 0 0 10px #8c52ff, 0 0 15px #00bf63;
  }
  to {
    text-shadow: 0 0 10px #8c52ff, 0 0 20px #8c52ff, 0 0 30px #00bf63;
  }
}
.transition-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
}

.portal-wrapper {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
  z-index: 2;
}

.portal {
  width: 480px;
  opacity: 0;
  animation: fadeInPortal 1.5s ease-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInPortal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.car {
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 400px;
  transition: left 2.5s ease-in-out, transform 2.5s ease-in-out;
  z-index: 15;
}

.transition-container.animate .car {
  left: 65%;
  transform: scale(0.4) rotate(15deg);
  animation: pop-out 0.4s ease-in 2.1s forwards;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(0.4) rotate(15deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(15deg);
    opacity: 0;
  }
}
.transition-text-container {
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 40%;
  z-index: 4;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.transition-title {
  position: absolute;
  top: 32.43%;
  z-index: 10;
  width: max-content;
}

.transition-title h1 {
  margin: 0;
}
.transition-title-description {
  position: absolute;
  left: 10%;
  max-width: 500px;
  z-index: 10;
  animation: fade-in 1s ease-in-out;
}

.transition-title-description h1 {
  margin-bottom: 0.5rem;
}

.transition-title-description p {
  font-size: 1.1rem;
  word-break: break-word;
  white-space: normal;
  margin-top: 4px !important;
  margin-bottom: 1rem !important;
  padding-top: 1vh;
  top: 100%;
}
